#animateName {
  
}

#animateName::after{
  content: "😎";
  animation: animateName 50s linear infinite;
}

@keyframes animateName {
  0% { content:"Oluwaseyi";  @apply text-lightmode-others; }
  10% { content:"Deji"; @apply text-lightmode-accents; }
  20% { content:"Oyebanji"; @apply text-lightmode-secondary; }
  30% { content:"Fuhrer_Dev"; @apply text-lightmode-accents; }
  40% { content:"Senninseyi"; @apply text-lightmode-others; }
  50% { content: "Mastermind"; @apply text-lightmode-secondary }
  60% { content: "Rikudoseyi"; @apply text-lightmode-others }
  70% { content: "Kami_no_hentai"; @apply text-lightmode-accents }
  80% { content: "Senbonzakura"; @apply text-lightmode-others }
  90% { content: "Knighttitan"; @apply text-lightmode-secondary }
}